
#logo {
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:40px;
    border-style:solid;
    border-radius:20px;
    border-width:3px;
    display:inline-block;
    
}

#überschrift {
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:62px;
    border-style:solid;
    border-radius:20px;
    border-width:3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:inline-block;
    margin-left:10px;
    font-size:120%;
}


#wasch {
    width:150px;
    height:140px;
    clear:left;
}

#absatz1 {
    font-style:italic;
}
#menu {
    
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:40px;
    border-style:solid;
    border-radius:20px;
    border-width:3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:10px;
    margin-bottom:10px;
    
}
 #überschrift {
    float:right;
    

}

#menu, #logo {
    display:flex;
    

}

#über {
    display:flex;
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:40px;
    border-style:solid;
    border-radius:20px;
    border-width:3px;

}

#formular {
    
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:60px;
    border-style:solid;
    border-radius:20px;
    border-width:3px;
}

footer {
   text-align:center;
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:60px;
    border-style:solid;
    border-radius:20px;
    border-width:3px
    
    
    
}

#hund {
   float:left;
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:60px;
    border-style:solid;
    border-radius:20px;
    border-width:3px
    
}

#texthund {
   margin-left:10px;
    float:left;
    background-image:linear-gradient(rgb(251, 249, 245), rgb(251, 221, 112), rgb(240, 165, 15));
    background-repeat:no-repeat;
    padding:300px;
    padding-bottom:360px;
    border-style:solid;
    border-radius:20px;
    border-width:3px
    
}